.btn-visit-black {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.btn-visit-black .text {
    margin-right: 10px;
}

.btn-visit-black .circle {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.4s ease-in-out;
}

.btn-visit-black .arrow {
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
}

.btn-visit-black:hover .arrow {
    left: 5px;
}

.btn-visit-black:hover .circle {
    background-color: #000;
}


.btn-visit-black:hover .arrow {
    color: white;
}

.btn-visit-black {
    transition: all 0.3s ease-in-out;
}

.btn-visit-black:hover {
    transform: scale(1.1);
    color: #000;
}

.bg-blend {
    background: linear-gradient(to top,
            rgb(248, 244, 236),
            rgba(248, 244, 236, 0.9),
            rgba(248, 244, 236, 0.715),
            rgba(248, 244, 236, 0.486),
            rgba(248, 244, 236, 0.486),
            rgba(248, 244, 236, 0.486),
            rgba(248, 244, 236, 0.486),
            rgba(245, 245, 233, 0),
            rgba(245, 245, 233, 0),
            rgba(245, 245, 233, 0)),
        url("./img/bGNews.png");
    background-size: cover;
}